/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* arrow animation */

@keyframes arrow-swinging {

  from {
    margin-inline-start: -18px;
  }

  to {
    margin-inline-start: -22px;
  }
}

@keyframes scale {

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-animation {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* heart component styles */

.core {
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.contour {
  transition: fill 0.3s linear 0.06s;
}

.sparks {
  opacity: 0;
}

/* heart hover animation */

.like-icon:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

/* heart active animation */

.like-icon:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

/* heart press animation */

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
  animation: 0.1s scale 0.3s ease-in alternate-reverse;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: 0.3s sparks-animation 0.3s ease-in alternate-reverse;
}

/* button animations */

.content-button {
  background: linear-gradient(
      to left,
      var(--bg-color) 50%,
      var(--accent-color) 50%
    )
    right;
  background-size: 200%;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out, box-shadow 0.3s ease;
}

.content-button:hover {
  background-position: revert;
  color: var(--bg-color);
}

.content-button:focus {
  box-shadow: 2px 2px var(--accent-color);
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color); 
}