/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

/* general */

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
}

.header,
.main,
.footer {
  width: clamp(23.4375rem, 30.423vw + 16.307rem, 43.6875rem);
  margin-inline: auto;
}

.header,
.article__image-sign,
.content-button,
.popup__text {
  font-family: var(--accent-font);
  font-size: 0.875rem;
}

.header__heading,
.sub-header,
.theme-menu__button,
.content-button,
.popup__text {
  font-weight: var(--constant);
}

.article__header,
.article__text {
  font-size: 1.125rem;
}

.theme-menu__button,
.card__icon-button,
.content-button {
  cursor: pointer;
}

/* header */

.header {
  margin-block: 6.25rem;
  display: grid;
  justify-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  text-transform: uppercase;
}

.header__heading {
  margin-block: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem)
    clamp(1.25rem, 0vw + 1.25rem, 1.25rem);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.sub-header {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  margin-block: 1.5625rem 23px;
  margin-inline-start: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__button {
  text-transform: uppercase;
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus, .theme-menu__button:hover {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  outline: none;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible:after {
  outline: none;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  margin-inline-start: -18px;
  animation: arrow-swinging 0.5s ease-in-out infinite alternate;
}

/* article */

.article {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.article:not(:last-of-type) {
  margin-block-end: 3.125rem;
}

.article__header {
  font-weight: var(--bold);
  padding-inline: 10px 20px;
  padding-block: 5px;
}

.article__text {
  padding: 1.4375rem 1.5625rem 0;
  line-height: 21px;
  font-weight: var(--normal);
}

.article__footer {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
  padding: 1.56rem;
}

.content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  line-height: 90%;
  padding: 0;
}

.content-button:focus {
  outline: none;
}

.card__icon-button {
  width: 39px;
  height: 38px;
  background: none;
  padding: 1px 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__like-button {
  width: 8.125rem;
}

.article__image-wrapper {
  display: inline-flex;
  position: relative;
  width: 100%;
  border-block: 2px solid var(--accent-color);
  overflow: hidden;
  object-fit: contain;
}

.article__image-sign {
  position: absolute;
  right: 0.6875rem;
  top: 1.4375rem;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
    -1px 0 var(--stroke-color),
    0 1px var(--stroke-color),
    1px 0 var(--stroke-color),
    0 -1px var(--stroke-color);
}

.article__image {
  width: inherit;
}

.article__image-2 {
  filter: grayscale(80%);
}

.article__image-3 {
  filter: saturate(200%) contrast(150%) brightness(150%);
}

.article__image-4 {
  filter: brightness(150%) sepia(30%);
}

.article__image-5 {
  filter: invert(100%);
}

.article__image-6 {
  filter: sepia(100%);
}

.article__image-7 {
  filter: blur(10px);
}

.article__image-8 {
  filter: hue-rotate(80deg) contrast(60%) blur(1px);
}

/* footer */

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 3.0625rem;
  margin-block-end: clamp(6.25rem, 0.282vw + 6.184rem, 6.4375rem);
}

.save-button {
  width: clamp(19.375rem, 2.723vw + 18.737rem, 21.1875rem);
  background-color: var(--bg-color);
  flex-direction: column;
  gap: 9px;
  padding: 15px 19px;
}

.floppy-icon {
  width: 28px;
  height: 28px;
}

#floppy {
  mix-blend-mode: difference;
}

#floppy path {
  fill: var(--svg-fill-color);
}

/* popup */

.big-floppy {
  width: 39px;
  height: 39px;
}

.popup {
  width: clamp(21.3125rem, 1.502vw + 20.96rem, 22.3125rem);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 31px 40px;
  grid-template-columns: 39px 1fr;
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
}

.popup[open] {
  display: grid;
}

.popup::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.popup__text {
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
}

.popup-button {
  grid-column: 1/3;
  padding: 10px 17px;
}

/* at-rules */

@media (width >= 1440px) {

  .save-button {
    flex-direction: row;
  }

  .floppy-icon {
    width: 21px;
    height: 21px;
  }
}

@media (width > 375px) {

  .article__image-sign {
    right: 1.5625rem;
    top: 1.5625rem;
  }

  #popup {
    padding: 30px;
  }
}

@supports (font-variation-settings: initial) {

  .page {
    font-variation-settings: initial;
    font-family: var(--main-font), sans-serif;
  }

  .article__header {
    font-variation-settings: 'wght' var(--bold);
  }

  .article__text {
    font-variation-settings: 'wght' var(--normal);
  }
}

@supports (-webkit-text-stroke: 1px #fff) {

  .article__image-sign {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

@supports (text-stroke: 1px #fff) {

  .article__image-sign {
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}